<div class="container" id="carrinho">
  <h1>CARRINHO DE COMPRAS</h1>



  <div class="row">

    <!-- Column 1 Items -->
    <div class="col-md-8">

      <table class="table">

        <thead>
          <th class="col-md-2">Item</th>
          <th class="col-md-2">Preço</th>
          <th class="col-md-1">Qtd</th>
          <th class="col-md-1">Subtotal</th>
          <th class="col-md-1"></th>
        </thead>

        <tbody>


          <div *ngIf="items.length == 0" class="col-md-12 col-sm-12 offset-md-2" style="margin-top: 5%;">
            <div class="alert alert-warning text-center" role="alert">
              <i class="fas fa-exclamation-triangle"></i>
              <span>
                Você ainda não possui nenhum produto no carrinho.
              </span>
            </div>
          </div>


          <tr class="col-md-6 mb-3" *ngFor="let item of items">
            <td class="col-md-2">
              <img src="{{item.product.image}}">

              <span class="ml-4" style="font-size: 20px">{{item.product.name}}</span>
            </td>

            <td class="col-md-2">
              <span>{{item?.product.price | currency:'BRL':'symbol':'0.0-2':'pt'}}</span>
            </td>

            <td class="col-md-1">
              

              <div class="number-input">

                <input  class="quantity" min="1" max="{{item.product.quantity}}" name="quantity"
                  value="{{item.quantity}}" type="number" disabled>

                  <button id="up" (click)="increaseQuantity(item.id)" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">

                    <i class="material-icons">
                      keyboard_arrow_up
                    </i>
                  </button>
                  <br>

                  <button id="down" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">

                    <i class="material-icons">
                      keyboard_arrow_down
                    </i>
                  </button>

              </div>
            </td>

            <td class="col-md-1">
              <span>{{item.product.price * item.quantity  | number : '1.2-2'}}</span>
              <!-- <input #subTotal (change)="total(value)" type="number" value="{{item.product.price * item.quantity  | number : '1.2-2'}}" disabled> -->
            </td>

            <td class="col-md-1">
              <button (click)="removeItem(item.id)" placement="top" ngbTooltip="Remover" style="color:black"
                class="material-icons btn-cart">remove_shopping_cart</button>
            </td>
          </tr>



        </tbody>
      </table>


    </div>

    <!-- Column 2 Shipping-->
    <div class="col-md-4">
      <span class="titles">
        Consultar valor do frete
      </span>

      <div>
        <label for="cep">CEP</label>
        <br>
        <input name="cep" class="inputCep" type="text" placeholder="Serviço indisponível" disabled>
      </div>
      <br>

      <span class="badge badge-success text-white">FRETE GRÁTIS</span>

      <hr>

      <span style="font-size: 25px">
        Total do pedido R$ {{total | number : '1.2-2'}}
      </span>
      <br>

      <div class="mt-2">
        <a *ngIf="items.length == 0" [routerLink]="[ '/' ]" class="btn-finished btn">ADICIONE NO CARRINHO</a>
        <a *ngIf="items.length != 0" [routerLink]="[ '/finalizar-pedido' ]" (click)="finishingRequest()" class="btn-finished btn">FINALIZAR
          PEDIDO</a>
      </div>

    </div><!-- Column 2 end -->

  </div>
</div> 