<div class="container" id="carrinho">
  <h1>CARRINHO DE COMPRAS</h1>



  <div class="row">

    <!-- Column 1 Items -->
    <div class="col-md-8">

      <table class="table">

        <thead>
          <th class="col-md-2">Item</th>
          <th class="col-md-2">Preço</th>
          <th class="col-md-1">Qtd</th>
          <th class="col-md-1">Subtotal</th>
          <th class="col-md-1"></th>
        </thead>

        <tbody>


          <div *ngIf="items.length == 0" class="col-md-12 col-sm-12 offset-md-2" style="margin-top: 5%;">
            <div class="alert alert-warning text-center" role="alert">
              <i class="fas fa-exclamation-triangle"></i>
              <span>
                Você ainda não possui nenhum produto no carrinho.
              </span>
            </div>
          </div>


          <tr class="col-md-6 mb-3" *ngFor="let item of items">
            <td class="col-md-2">
              <img src="{{item.product.picture}}">

              <span class="ml-4" style="font-size: 20px">{{item.product.name}}</span>
            </td>

            <td class="col-md-2">
              <span>R$ {{item?.product.price}}</span>
            </td>

            <td class="col-md-1">
              <input #qtd (change)="quantity(qtd.value, item.product.idProduct)" class="inputQtd" type="number" min="1"
                max="{{item.product.stock}}" value="{{item.quantity}}" required>
            </td>

            <td class="col-md-1">
              <span>R$ {{item.product.price * item.quantity  | number : '1.2-2'}}</span>
              <!-- <input #subTotal (change)="total(value)" type="number" value="{{item.product.price * item.quantity  | number : '1.2-2'}}" disabled> -->
            </td>

            <td class="col-md-1">
              <a (click)="removeItem(item)">
                <i placement="top" ngbTooltip="Remover" style="color:black" class="material-icons">
                  remove_shopping_cart
                </i>
              </a>
            </td>
          </tr>





        </tbody>
      </table>


    </div>

    <!-- Column 2 Shipping-->
    <div class="col-md-4">
      <span class="titles">
        Consultar valor do frete
      </span>

      <div>
        <label for="cep">CEP</label>
        <br>
        <input name="cep" class="inputCep" type="text" placeholder="Serviço indisponível" disabled>
      </div>
      <br>

      <span class="badge badge-success text-white" >FRETE GRÁTIS</span>

      <!--
        <div class="form-check">
        <input checked #pac (click)="frete('pac')" class="form-check-input" type="radio" name="exampleRadios"
          id="exampleRadios1" value="52.85">
        <label class="form-check-label" for="exampleRadios1">
          PAC - 12 dia(s) úteis R$52,85
        </label>

        <br>

        <input #sedex (click)="frete('sedex')" class="form-check-input" type="radio" name="exampleRadios"
          id="exampleRadios1" value="72.85">
        <label class="form-check-label" for="exampleRadios1">
          Sedex - 7 dia(s) úteis R$72,85
        </label>
      </div>

       <hr>
      <span>
        Subtotal R$ {{total | number : '1.2-2'}}
      </span>
      -->


     

      <hr>

      <span style="font-size: 25px">
        Total do pedido R$ {{total | number : '1.2-2'}}
      </span>
      <br>

      <div class="mt-2">
        <a href="#" class="btn-finished btn">FINALIZAR PEDIDO</a>
      </div>

    </div><!-- Column 2 end -->

  </div>
</div>