#carrinho{
    font-family: Din;
    margin-top: 5%;
}


img{
    width: 80px;
    height: 80px;
}

/* .inputQtd{
    border-top: none;
    border-right: none;
    border-left: none;

    border-color: black;

    /* width: 40px;
} */

.inputCep{
    border-top: none;
    border-right: none;
    border-left: none;

    border-color: black;
}

.titles{
    font-size: 25px;
}

.btn-finished {
    height: 40px;

    background-color: #222222;
    color: #FFD933;
    border-radius: 5px;
    font-size: 22px;
    text-align: center;
    outline: none;
}

.btn-finished:hover {
    background-color: #323232;
}

.btn-finished:active{
    background-color: #1f1f1f;
}

#carrinho button{
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .number-input,
  .number-input * {
    box-sizing: border-box;
    display: inline-flex;
  }

  #up {
      margin-top: -15px;
  }

  #down {
      position: relative;
      margin-top: 0px;
      margin-left: -40px;
  }
  
  .number-input button {
    outline:none;
    -webkit-appearance: none;
    border: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 20px;
    cursor: pointer;
    margin: 0;
  }
  
  .number-input input[type=number] {
    width: 50px;
    height: 20px;

    border: none;
    font-size: 16px;
    color: #222222;
    
    text-align: center;
  }

  .number-input i {
      color: #222222!important;
  }