#carrinho{
    font-family: Din;
    margin-top: 5%;
}


img{
    width: 80px;
    height: 80px;
}

.inputQtd{
    border-top: none;
    border-right: none;
    border-left: none;

    border-color: black;

    /* width: 40px; */
}

.inputCep{
    border-top: none;
    border-right: none;
    border-left: none;

    border-color: black;
}

.titles{
    font-size: 25px;
}

.btn-finished {
    height: 40px;

    background-color: #222222;
    color: #FFD933;
    border-radius: 5px;
    font-size: 22px;
    text-align: center;
}