<div class="container" id="carrinho">
  <h1>CARRINHO DE COMPRAS</h1>

  <div class="row">

    <!-- Column 1 Items -->
    <div class="col-md-7">

      <table>

        <thead>
          <th class="col-md-6">Item</th>
          <th class="col-md-2">Preço</th>
          <th class="col-md-2">Qtd</th>
          <th class="col-md-2">Subtotal</th>
        </thead>

        <hr>

        <thead>

          <th class="col-md-6" *ngFor="let item of items()">
            <img src="{{item.picture}}">

            <span>{{item.name}}</span>
          </th>

          <th class="col-md-2">
            <span>{{item?.price}}</span>
          </th>
          {{item | json}}
          <th class="col-md-2">
            <input #qtd class="inputQtd" type="number" min="0" max="20" value="0" required>
          </th>

          <th class="col-md-1">
            <span>{{ value() }}</span>
          </th>

          <th class="col-md-1">
            <i class="material-icons" (click)="removeItem(item)">
              remove_shopping_cart
            </i>
          </th>

        </thead>
      </table>


    </div>

    <!-- Column 2 Shipping-->
    <div class="col-md-5">
      <span class="titles">
        Consultar valor do frete
      </span>

      <div>
        <label for="cep">CEP</label>
        <br>
        <input name="cep" class="inputCep" type="text">
      </div>
      <br>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
          PAC - 12 dia(s) úteis R$52,85
        </label>

        <br>

        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
          Sedex - 7 dia(s) úteis R$72,85
        </label>
      </div>

      <hr>
      <span>
        Subtotal R$ 150,00
      </span>

      <hr>

      <span>
        Total do pedido R$200,00
      </span>
      <br>

      <div>
        <button class="btn-finished" type="button">FINALIZAR PEDIDO</button>
      </div>

    </div><!-- Column 2 end -->

  </div>
</div>