#about{
    font-family: Din;
    margin-bottom: 5%;
}

#about .about {
    border-bottom: 4px solid #222222;
    
}

#title {
    font-size: 140px
}

p {
    font-size: 22px
}

#about img{
    width: 300px;
    height: auto;
}

.back{
    background-image: url('../../../assets/images/fundo.png');
    background-attachment: fixed;
    background-repeat: repeat;   

}


.banner{
    width: 100%;
    margin-bottom: 3%;
    margin-top: 3%;
}

