<div class="container mt-5" id="about">

  <div class="row">
    <div class="col-md-4">
      <h1 class="about animated fadeInLeft">SOBRE NÓS</h1>
    </div>
  </div>
  <div class="mt-4">
    <div class="offset-md-4 col-md-6">
      <img src="../../../assets/images/geekspacelogoBW.png">
    </div>
  </div>
  <div class="row mt-4">
    <p>Somos uma loja de produtos geeks, nerds, criativos edivertidos. Lugar perfeito para você comprar acessórios e produtos decorativos, ou quem sabe, comprar presentes criativos para pessoas especiais. Também temos uma seção especial para presentes criativos para namorados e presentes criativos para namoradas :)</p><br>
    <p>Aqui na maior loja de geek do Brasil você encontra uma variedade enorme de produtos como: canecas personalizadas, capachos, porta livros, fones de ouvido, almofadas decorativas, carteiras, relógios de parede, porta trecos, cofres, camisetas geek, entre outros.</p><br>
    <p>Contamos com diversos parceiros para trazer para vocês os produtos das melhores marcas do planeta, aqui você pode encontrar, por exemplo, produtos licenciados (originais) da Marvel e DC Comics. Não é atoa que somos considerados a loja nerd mais legal da galáxia.</p><br>
    <p>O pagamento na Geek10 pode ser feito em até 3x sem juros nos cartões de crédito. Aproveite e conheça também nossa página no Facebook.</p><br>
    <p>Como eu entro em contato com a melhor loja nerd do Brasil?</p><br>
    <p>Se você tiver qualquer dúvida ou precisar de ajuda, você pode entrar em contato conosco. Será um prazer te ajudar.</p> <br>
  </div>

</div>