<div class="container mt-5" id="filter">
  <div class="row">
    <div class="col-md-3 mb-5">

      <div class="card shadow">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <h2><strong>{{category | uppercase}}</strong></h2>
            </div>
            <div class="row">
              <span *ngIf="products.length == 0">Nenhum resultado.</span>
              <span *ngIf="products.length == 1">1 resultado encontrado.</span>
              <span *ngIf="products.length > 1">{{products.length}} resultados encontrados.</span>
            </div>
            <div class="row" style="margin-top: 20%">
              <label for="types">Filtre por tipo:</label>
              <select #type (change)="setType(type.value)" class="custom-select">
                <option selected disabled>Escolha...</option>
                <option value="camisa">Camisa</option>
                <option value="caneca">Caneca</option>
                <option value="action-figure">Action-Figure</option>
                <option value="sticker">Sticker</option>
              </select>
            </div>

            <div *ngIf="category == 'camisa'" class="row" style="margin-top: 20%">
              <label for="types">Filtre por gênero:</label>
              <select [(ngModel)]="genre" (change)="filterColorGenre()" class="custom-select">
                <option selected disabled>Escolha...</option>
                <option value="masculino"> Masculino</option>
                <option value="feminino">Feminino</option>
              </select>
            </div>

            <div *ngIf="category == 'camisa'" class="row" style="margin-top: 20%">
              <label for="types">Filtre por cor:</label>
              <div class="col-md-12">
                <div class="custom-control custom-radio">
                  <input (change)="filterColorGenre()" [(ngModel)]="color" value="preto" type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">Preto</label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="custom-control custom-radio">
                  <input (change)="filterColorGenre()" [(ngModel)]="color" value="vermelho" type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio2">Vermelho</label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="custom-control custom-radio">
                  <input (change)="filterColorGenre()" [(ngModel)]="color" value="verde" type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio3">Verde</label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="custom-control custom-radio">
                  <input (change)="filterColorGenre()" [(ngModel)]="color" value="amarelo" type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio4">Amarelo</label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="custom-control custom-radio">
                  <input (change)="filterColorGenre()" [(ngModel)]="color" value="laranja" type="radio" id="customRadio5" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio5">Laranja</label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="custom-control custom-radio">
                  <input (change)="filterColorGenre()" [(ngModel)]="color" value="branco" type="radio" id="customRadio6" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio6">Branco</label>
                </div>
              </div>
            </div>

           
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-8 offset-md-1">
      <div *ngIf="products.length == 0" class="alert alert-warning text-center" role="alert" style="font-size: 30px">
        <i class="fas fa-exclamation-triangle"></i>
        <span>
          Não foi encontrado nenhum produto.
        </span>
      </div>

      <div *ngFor="let product of products">
        <div class="card shadow mb-2">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <a [routerLink]="[ '/produto', product.id ]">
                  <img src="{{product.image}}" class="img-card" style="width: 100px; height: 120px">
                </a>
              </div>
              <div class="col-md-6">
                <div style="font-size: 30px" id="name"><a [routerLink]="[ '/produto', product.id ]">{{product.name}}</a>
                </div>
                <div style="font-size: 30px">{{product.price | currency:'BRL':'symbol':'0.0-2':'pt'}} </div>
                <span class="badge badge-success text-white">FRETE GRÁTIS</span>
              </div>
              <!-- <div class="col-md-3" >
                <a class="float-right" (click)="addOrRemoveFavorite(product)"><i id="heart" placement="top" ngbTooltip="Adicionar aos favoritos"
                    style="font-size: 30px; color: black;" class="far fa-heart"></i></a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>