<nav class="imageBackground">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <a href="#" class="brand"> geek </a>
        <br>
        <p class="brand"><b>GEEKS, NERDS E CRIATIVOS.</b> </p>
      </div>
      
      
      <div class="col pesquisar">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
  
      </div>

      <div class="col">
        <ul class="nav">
          <li class="conta">
            <b>MINHA CONTA</b> 
          </li>
          <li class="conta">
                
          </li>
          <li class="conta carrinho" >
            <a href=""><img src="../../../assets/images/carrinho.svg"  width="20" alt=""></a>
          </li>
        </ul>
        
      </div>

    </div>

    <div class="row yellowBackground">
      <div>
        <ul class="nav">
          <li>
              <img src="../../../assets/images/spiderman.svg" alt="">
              <a href="">COLECIONÁVEIS</a>
          </li>
          <li>
              <img src="../../../assets/images/shirt.svg" alt="">
              <a href="">CAMISETAS</a>
          </li>
          <li>
              <img src="../../../assets/images/coffee-cup.svg" alt="">
              <a href="">CANECAS</a>
          </li>
          <li>
              <img src="../../../assets/images/headphones.svg" alt="">
              <a href="">ACESSÓRIOS</a>
          </li>
        </ul>
        

      </div>
      
    </div>

  </div>
</nav>
