<!--Header-->
<nav class="imageBackground">
  <div class="container-fluid">

    <!--Brand-->
    <div class="row">
      <div class="col">
        <a href="#" class="brand"> geek </a>
        <br>
        <p class="brand"><b>PRODUTOS GEEKS, NERDS E CRIATIVOS.</b></p>
      
    </div>
    <!--Brand-->

    <!--Search-->
      <div class="col-6 pesquisar">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2 pesquisar" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Search</button>
        </form>
      </div>
    <!--/Search-->

      <!--My account-->
      <div class="col account">
          <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col"> <a class="accounttxt" href="">MINHA CONTA</a></th>
                  <th scope="col" class="separator"></th>
                  <th scope="col"> <a href=""><img style="widows: 20px; height:20px;" src="../../../assets/images/shopping-cart-solid.svg" alt=""></a> </th>
                </tr>
              </thead>
            </table>
      </div>
      <!--My account-->
    
    </div>

    <!--nav-->
    <div class="row">
      <div class="yellowBackground">
          <table class="table table-borderless ">
              <tbody>
                <tr>
                  <td> <img src="../../../assets/images/spiderman.svg" alt=""> <a class="bar" href=""> COLECIONÁVEIS </a> </td>
                  <td> <img src="../../../assets/images/shirt.svg" alt=""> <a class="bar" href="">CAMISAS</a> </td>
                  <td> <img src="../../../assets/images/Cafe-coffee-cup-hot.svg" alt=""> <a class="bar" href="">CANECAS</a> </td>
                  <td> <img src="../../../assets/images/headphones.svg" alt=""> <a class="bar" href="">ACESSÓRIOS</a> </td>
                </tr>
              </tbody>
            </table>
      </div>
      
    </div>
    
      
    
    <!--nav-->
  </div>
</nav>
<!--Header-->
