.identation{
    margin-top:70px; 
    font-size: 20px;
}
.field{
    background-color: #FFE884;
    width: 100px;
    height: 100px;
    
}
img{
    margin: 25px;   
    width: 50px;
    height: 50px;

}

.w{
    border: 3px solid palevioletred;
}