<div class="container mb-5" style="margin-top: 5%" id="form">
  <div class="row mb-5">
    <div class="col-md-10">
      <h1>FINALIZAR O PEDIDO</h1>
      <h6>Por favor, insira seus dados abaixo para concluir sua compra.</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-12">

          <form [formGroup]="formFinishing" (ngSubmit)="onSubmit(formFinishing.value)">

            <h4>Meus dados pessoais</h4>
            <div class="row mb-3">
              <div class="col-md-12">
                <label class="" for="email">E-mail</label>
                <br>
                <input formControlName="email" name="email" type="email" id="senha" required>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <label for="name">Nome</label>
                <br>
                <input disabled formControlName="name" name="name" type="text" id="name" required>
              </div>
              <div class="col-md-6">
                <label for="lastname">Sobrenome</label>
                <br>
                <input disabled formControlName="lastname" name="lastname" type="text" id="lastname" required>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-12">
                <label for="cpf">CPF</label>
                <br>
                <input formControlName="cpf" name="cpf" type="text" id="cpf" required>
              </div>
            </div>

            <h4 class="mt-4">Endereço de entrega</h4>
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="cep">CEP</label>
                <br>
                <input formControlName="cep" name="cep" type="text" id="cep" required>
              </div>
              <div class="col-md-6 line">
                <label for="state">ESTADO</label>
                <br>
                <input formControlName="state" name="state" type="text">
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-12">
                <label for="street">LOGRADOURO</label>
                <input formControlName="street" type="text" id="street" name="street">
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-12">
                <label for="city">CIDADE</label>
                <br>
                <input formControlName="city" name="city" type="text" id="city" required>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <label for="number">NÚMERO</label>
                <br>
                <input formControlName="number" name="number" type="number" min="0" id="number" required>
              </div>
              <div class="col-md-6 line">
                <label for="neighborhood">BAIRRO</label>
                <br>
                <input formControlName="neighborhood" id="neighborhood" name="neighborhood" type="text" required>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-12">
                <label for="complement">COMPLEMENTO</label>
                <input formControlName="complement" type="text" id="complement" name="complement">
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-5 offset-md-2">
      <h4>Forma de pagamento</h4>
      <div class="row">
        <div class="col-md-12">
          <input value="Boleto" disabled type="text" id="payment" name="payment">
        </div>
      </div>

      <h4 class="mt-5">Resumo do pedido</h4>
      <div class="row">
        <div class="col-md-12" style="font-size: 30px">
          <span>{{itens.length}}</span>&nbsp;
          <span *ngIf="itens.length == 1">ITEM NO CARRINHO</span>
          <span *ngIf="itens.length != 1">ITENS NO CARRINHO</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="font-size: 30px">
          <div class="row">
            <div class="col-md-4">
              <img src="{{item.product.picture}}" width="60" height="60" alt="">
            </div>
            <div class="col-md-8">
              <h3>{{item.product.name}}</h3>
              <div class="row">
                <h3 class="col-md-12">
                  QTD: {{item.quantity}}
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr style="border: 1px solid #707070">
        </div>
        <div class="col-md-12" style="font-size: 28px; color: #575757">
          Sub-Total: R$ {{item.subTotal | number : '1.2-2'}}
        </div>
        <div class="col-md-12">
          <hr style="border: 1px solid #707070">
        </div>
        <div class="col-md-12" style="font-size: 28px; color: #575757">
          Frete: Grátis
        </div>
        <div class="col-md-12">
          <hr style="border: 1px solid #707070">
        </div>
        <div class="col-md-12" style="font-size: 28px; color: #575757">
          TOTAL: R$ {{total | number : '1.2-2'}}
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12">
          <button [disabled]="!formFinishing.valid" (click)="onSubmit(formFinishing.value)" class="btn-finished btn float-right">CONFIRMAR PEDIDO</button>
          <button class="btn btn-link float-right" style="font-size: 26px;">Cancelar</button>
        </div>
      </div>


    </div>
  </div>
</div>