.container {
    background-color: white;
    margin-top: 5%;
    font-family: DIN;
    margin-bottom: 5%;
    border-radius: 5px;
}

.title {
    font-size: 57px;
    color: #575757;
}

.price {
    font-size: 57px;
}

.quantity {
    font-size: 25px;
    color: #575757;
}

.btn-quantity-less {
    border: 1px solid #707070;
    background-color: white;
    color: #707070;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none;
    outline: none;
}

.btn-quantity-less:hover {
    background-color: #8e8e8e;
    color: white;
}

.btn-quantity-less:active {
    background-color: #707070;
}


.show-quantity {
    border: 1px solid #707070;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 6px;
}

.btn-quantity-more {
    border: 1px solid #707070;
    background-color: white;
    color: #707070;
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: none;
    outline: none;
}

.btn-quantity-more:hover {
    background-color: #8e8e8e;
    color: white;
}

.btn-quantity-more:active {
    background-color: #707070;
}

.stock {
    color: #707070;
    font-size: 16px;
    margin-left: 10px;
}

.sub-total {
    font-size: 30px;
    color: #575757;
}



.btn-comprar {
    width: 300px;

    background-color: #222222;
    color: #ffd933;
    border-radius: 5px;

    outline: none;

    
}

.btn-comprar:hover {
    background-color: #323232;
}

.btn-comprar:active{
    background-color: #1f1f1f;
}

.btn-carrinho {
    border-radius: 5px;

    outline: none;

    border: 2px solid #FFD933;
    color: #222222;

}

.btn-carrinho:hover {
    background-color: #FFD933;
    color: #222222;
}

.btn-carrinho:active {
    background-color: rgb(193, 163, 28);
}

.description {
    border-bottom: 1px solid #575757;
    font-size: 30px;
    color: #575757;
}



