#home{
    font-family: Din;
}

/*=== Background ===*/
section{
    background-image: url('../../../assets/images/fundo.png');
    background-attachment: fixed;
    overflow: hidden;
    background-repeat: repeat;
}

/*=== Carousel ===*/
#home #caroulselBanners{
    margin-top: 2%;
    margin-bottom: 2%;
}

/*=== Red Bar ===*/
.bg-red{
    background-color: #FF0202;
    height: 50px;
}

#home .free-shipping-txt{
    color: white;
    font-size: 22px;
}

/*=== Yellow Bar - Logotype Carousel ===*/
.bg-yellow{
    background-color: #FFD933;
    height: 100px;
    margin-bottom: 2%;
}

#home .logos{
    width: 200px;
    height: auto;
}

/* ===== Footer =====*/
#footer{
    margin-bottom: -10%;
}

#footer .background{
    margin-top: 3%;
    background-image: url('../../../assets/images/header.png');
    height: 390px;
}

#footer img{
    width: auto;
    height: 100px;
    margin-top: 5%;
}

#footer .row{
    margin-top: 3%;
}

#footer .line{
    border-bottom: 2px solid #ffffff;
    margin-top: 2%;
}

#footer h4{
    font-size: 16px;
    color: #FFD933;
}

#footer a{
    text-decoration: none !important;
    color: #ffffff !important;
}


#footer a:hover{
    text-decoration: none;
    color: #FFD933 !important;
}

#footer .paglogo{
    height: auto;
    width: 195px;
    margin-left: -20%;
    margin-top: -2%;

}


