#home{
    font-family: Din;
}

/*=== Background ===*/
section{
    background-image: url('../../assets/images/fundo.png');
    background-attachment: fixed;
    overflow: hidden;
    background-repeat: repeat;
}

/*=== Carousel ===*/
#home #caroulselBanners{
    margin-top: 2%;
    margin-bottom: 2%;
}

/*=== Red Bar ===*/
.bg-red{
    background-color: #FF0202;
    height: 50px;
}

#home .free-shipping-txt{
    color: white;
    font-size: 22px;
}

/*=== Yellow Bar - Logotype Carousel ===*/
.bg-yellow{
    background-color: #FFD933;
    height: 100px;
    margin-bottom: 2%;
}

#home .logos{
    width: 200px;
    height: auto;
}