input{
    box-shadow: none!important;
}

.form{
    border: none;
    border-bottom: solid black 1px;
    border-radius: 0%;
}
.buttom{
    padding-left:70%;
}
.anunciar{
        background-color: #222222;
        color: #FFD933;
        border-radius: 4px;
}

.btn-announce {
    /* height: 40px; */
    padding: 5px;
    background-color: #222222;
    color: #FFD933;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin: 10px;
}

.btns {
    float: right;
}

#formOthers #buttons a{
    margin-top: 6%;
    padding-right: 20px;
}

#formTshirt #buttons a{
    margin-top: 6%;
    padding-right: 30px;
}

.boxImg {
    width: 200px;
    height: 200px;
}

/* .custom-control-label::before { background-color: seashell} */
.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: #FFD933;  /* green */
    /* this bg image SVG is just a white circle, you can replace it with any valid SVG code */
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E); 
    border-radius: 50%;
}
