<div class="mt-5" *ngIf="tipo != 'camisa'">
  <h1>Complete os dados: {{ tipo | uppercase }}</h1>
  <br>

  <form [formGroup]="productForm2" (ngSubmit)="onSubmit(productForm2.value)">
    <div class="row">


      <!--Primeira Coluna-->
      <div class="col-6">


        <!--Primeira Linha-->
        <div class="row">

          <!--Titulo-->
          <div class="col">
            <div class="form-group">
              <label for="formGroupExampleInput">Título</label>
              <input formControlName="name" type="text" min="0" class="form-control form" id="formGroupExampleInput">
            </div>
          </div>
        </div>

        <!--Segunda Linha-->

        <!--Quantidade-->
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="formGroupExampleInput">Quantidade</label>
              <input formControlName="quantity" type="number" min="1" value="1" class="form-control form"
                id="formGroupExampleInput">
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label for="formGroupExampleInput">Preço (R$)</label>
              <input formControlName="price" type="number" class="form-control form" id="formGroupExampleInput">
            </div>
          </div>
        </div>




      </div>






      <!--Segunda Coluna-->
      <div class="col-6">

        <!--Primeira Linha-->
        <div class="row">

          <!--Titulo-->
          <div class="col">
            <div class="form-group">
              <label for="formGroupExampleInput">Descrição</label>
              <input formControlName="description" type="text" class="form-control form" id="formGroupExampleInput">
            </div>
          </div>



        </div>

        <!--Segunda Linha-->
        <div class="row">
          <div class="col">

            <div class="form-group">
              <label for="formGroupExampleInput">Especificação</label>
              <input formControlName="specification" type="text" class="form-control form" id="formGroupExampleInput">
            </div>



          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="formGroupExampleInput">Link da imagem </label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" (change)="getFile($event)">
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
            </div>
          </div>

        </div>

        <div class="row btns mb-5" style="margin-top: 5%;">
          <a href="#" class="btn btn-link" (click)="clear()">Cancelar</a>
          <button [disabled]="!productForm2.valid" class=" btn btn-announce" type="submit">Anunciar</button>
        </div>
      </div>
    </div>
  </form>


</div>


<div class="mt-5" *ngIf="tipo == 'camisa'">
  <h1>Complete os dados: {{tipo | uppercase}}</h1>
  <br>

  <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">
    <div class="row">

      <!--Primeira Coluna-->
      <div class="col-6">

        <!--Primeira Linha-->
        <div class="row">

          <!--Titulo-->
          <div class="col">
            <div class="form-group">
              <label for="formGroupExampleInput">Título</label>
              <input formControlName="name" type="text" class="form-control form" id="formGroupExampleInput">
            </div>
          </div>

        </div>

        <!--Segunda Linha-->
        <div class="row">

          <!--Quantidade-->
          <div class="col">
            <div class="form-group">
              <label for="formGroupExampleInput">Quantidade</label>
              <input formControlName="quantity" type="number" min="1" value="1" class="form-control form"
                id="formGroupExampleInput">
            </div>
          </div>

          <!--Preço-->
          <div class="col">
            <div class="form-group">
              <label for="formGroupExampleInput">Preço (R$)</label>
              <input formControlName="price" type="number" class="form-control form" id="formGroupExampleInput">
            </div>
          </div>
        </div>

        <!--Terceira Linha-->
        <!--COR-->
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="formGroupExampleInput">Cor</label>
              <input formControlName="color" type="text" class="form-control form" id="formGroupExampleInput">
            </div>

          </div>

          <!--Genero-->
          <div class="col">
            <label> Gênero</label>
            <select formControlName="genre" class="custom-select" id="inputGroupSelect01">
              <option selected> Masculino </option>
              <option value="1">Feminino</option>

            </select>
          </div>
        </div>
      </div>


      <!--Segunda Coluna-->
      <div class="col-6">

        <!--Primeira Linha-->
        <div class="row">

          <!--Descrição-->
          <div class="col">
            <div class="form-group">
              <label for="formGroupExampleInput">Descrição</label>
              <input formControlName="description" type="text" class="form-control form" id="formGroupExampleInput">
            </div>
          </div>
        </div>

        <!--Segunda Linha-->
        <div class="row">

          <!--Descrição-->
          <div class="col">
            <div class="form-group">
              <label for="formGroupExampleInput">Especificação</label>
              <input formControlName="specification" type="text" class="form-control form" id="formGroupExampleInput">
            </div>
          </div>
        </div>

        <!--Terceira Linha-->
        <div class="row">

          <!--Imagem-->
          <div class="col">
            <div class="form-group">
              <label for="formGroupExampleInput">Imagem do produto</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" (change)="getFile($event)">
                <label class="custom-file-label" for="customFile">Escolha a imagem</label>
              </div>
            </div>
          </div>
        </div>




        <!--Botões-->
        <div class="row btns mb-5" style="margin-top: 5%;">
          <a href="#" class="btn btn-link" (click)="clear()">Cancelar</a>
          <button [disabled]="!productForm.valid" class="ml-auto btn btn-announce" type="submit">Anunciar</button>
        </div>

      </div>
    </div>

  </form>

</div>