/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr';


@font-face {
    font-family: GrotesqueMT Light;
    src: url('./assets/fonts/GrotesqueMT-Light.otf');
}

@font-face {
    font-family: Din;
    src: url('./assets/fonts/DINCondensed-Bold.ttf');
}

.toast-info {
    background-color: #222222
}
