.alert-warning {
    font-size: 30px;
}

.btn-favorite {
    background-color: #222222;
    color: #FFD933;
    border-radius: 4px;
    padding: 15px 50px 15px 50px;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
}