#home{
    font-family: Din;
}

section{
    background-image: url('../../assets/images/fundo.png');
    background-attachment: fixed;
    overflow: hidden;
    background-repeat: repeat;
}

#home #caroulselBanners{
    margin-top: 2%;
}